<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA5c-Lnd8CaHOBc6l36_cq3i5QHlsmoDBs</string>
	<key>GCM_SENDER_ID</key>
	<string>923595698269</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wellzy</string>
	<key>PROJECT_ID</key>
	<string>wellzy-b30f7</string>
	<key>STORAGE_BUCKET</key>
	<string>wellzy-b30f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:923595698269:ios:e058987e358709ca625db4</string>
</dict>
</plist>